<ul>
  <li><a href="#">Technology</a></li>
  <li><a href="#">Business</a></li>
  <li><a href="#">Fashion</a></li>
</ul>

<br><br>

<img class="my-img" src="https://www.pinclipart.com/picdir/big/204-2040838_open-john-glenn-signature-clipart.png" alt="signature png">

<br><br>

<div class="box">
  <h3>Heading</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quibusdam beatae ad provident eius vel quod sit adipisci itaque asperiores!</p>
</div>

<div class="box">
  <h3>Heading</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quibusdam beatae ad provident eius vel quod sit adipisci itaque asperiores!</p>
</div>

<div class="box">
  <h3>Heading</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quibusdam beatae ad provident eius vel quod sit adipisci itaque asperiores!</p>
</div>