li{
 list-style: none;
 display: inline; /* li is block element so we are making it inline forcefully*/
}

li a{
  padding-right: 20px;
}

img{
  display: block;/* img is inline element so we are making it block forcefully*/
  margin: auto;/* only block elemts works with 'margin: auto' */
  width: 300px;
}

.box{
  width: 30%; /* width can only be when block or inline-blocknot with inline*/
  box-sizing: border-box;

  /* block, inline, inline-block, flex, grid*/
  /* display : none removes elemt from dom while visibility: hidden makes only the things invisible but not the space taken*/
  display: inline-block; 

  background: #a8a6a6;
  padding: 20px;
  margin: 5px;
}