*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #333;
}

h1,h2,h3{
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* utility */
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.txt-primary{
  color: #f7c08a;
}

.lead{
  font-size: 20px;
}

.btn{
  display: inline-block;
  color: #fff;
  background: #333;
  font-size: 18px;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn-light{
  color: #333;
  background: #f4f4f4;
}

.btn:hover{
  background: #f7c08a;
}

.bg-dark{
  background: #333;
  color: #fff;
}

.bg-light{
  background: #f4f4f4;
  color: #333;
}

.bg-primary{
  background: #333;
  color: #f7c08a;
}

/* Nav bar*/
#nav-bar{
  background: #333;
  color: #fff;
  overflow: auto;
}

#nav-bar a {
  color: #fff;
}

#nav-bar h1 {
  float: left;
  padding: 10px;
}

#nav-bar ul {
  list-style: none;
  float: right;
}

#nav-bar ul li {
  float: left;
}

#nav-bar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#nav-bar ul li a:hover,
#nav-bar ul li a.current{
 background: #444;
 color: #f7c08a;
}

/*************SHOWCASE*********/
#showcase{
  background: url(https://images.pexels.com/photos/775219/pexels-photo-775219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center/cover;
  height: 700px;
  opacity: 0.85;
}

#showcase .showcase-content{
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content p{
  padding-bottom: 40px;
  line-height: 1.5em;
}

#showcase .showcase-content h1{
  line-height: 1.2em;
  font-size: 60px;
}

#home-info{
  height: 400px;
}

#home-info .info-img{
  float: left;
  width: 50%;
  background: url(https://images.pexels.com/photos/827528/pexels-photo-827528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center top/cover;
  min-height: 100%;
}

#home-info .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p{
  padding-bottom: 20px;
}