<header id="header" class="card">
	<nav id="nav-bar">
    <div class="container">
      <h1 class="logo"> <a href="#">My Website</a></h1>
      <ul>
        <li> <a class="current" href="#">First Item</a> </li>
        <li> <a href="#">Second Item</a> </li>
        <li> <a href="#">Third Item</a> </li>
      </ul>
    </div>
	</nav>

  <div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1> <span class="txt-primary">Enjoy</span> Your Stay</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ullam eum recusandae similique, ut aliquam velit aliquid ea id animi magni expedita, unde dolores delectus, distinctio molestiae iure mollitia.</p>
        <a class="btn" href="#">About Hotel</a>
      </div>
    </div>
  </div>
</header>

<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="txt-primary">The history</span> of hotel</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis itaque, minus dolorem optio nulla eligendi recusandae in neque alias? Quis aliquid impedit neque. Illo sed odio excepturi voluptates non. Maxime placeat ipsam, assumenda doloribus odit natus explicabo ipsum dolor, culpa laborum quam laudantium optio tempore at, minima tenetur. Ipsam, in?
    </p>
    <a href="#" class="btn btn-light">Read More</a>
  </div>
</section>