
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-body {
  background: #344a72;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

#container {
  margin: auto;
  padding: 10px;
  max-width: 400px;
}

.form-wrap {
  background: white;
  color: #333;
  padding: 20px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  padding: 5px 0px;;
}

.form-wrap .form-group label {
  font-size: 14px;
  display: block;
}

.form-wrap .form-group input {
  padding: 5px;
  width: 100%;
  border: 1px solid rgb(214, 203, 203);
  border-radius: 3px;
}

.form-wrap button {
  background: #49c1a2;
  width: 100%;
  display: block;
  border: 1px solid #2e816c;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0px;
  color: white;
}

.form-wrap button:hover {
  background: #37a08e;
  cursor: pointer;
}

.form-wrap .bottom-text {
  font-size: 12px;
  /* line-height: 18px; */
}

footer {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #49c1a2;
}