<div id="section1">
	<h1 class="title">Title 1</h1>
	<p class="para">
		<span class="my-span1">Para 1 :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officia tempore necessitatibus nostrum quae et,
		facere distinctio debitis sed qui veritatis doloribus at in neque eveniet illo quo architecto laboriosam
		similique nulla quaerat? Veniam qui, quos vero quis eligendi non.
	</p>
</div>

<div id="section2">
	<h1 class="title">Title 2</h1>
	<p class="para">
		<span class="my-span2">Para 2 :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officia tempore necessitatibus nostrum quae et,
		facere distinctio debitis sed qui veritatis doloribus at in neque eveniet illo quo architecto laboriosam
		similique nulla quaerat? Veniam qui, quos vero quis eligendi non.
	</p>
</div>

<div id="section3">
	<h1 class="title">Title 3</h1>
	<p class="para">
		<span class="my-span3">Para 3 :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officia tempore necessitatibus nostrum quae et,
		facere distinctio debitis sed qui veritatis doloribus at in neque eveniet illo <span id="color1">quo architecto</span> laboriosam
		<span id="color2">similique nulla</span> quaerat? 
    <span id="color3">Veniam qui, quos</span> vero quis eligendi non.
	</p>
</div>