/* CSS Reeset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/****This is really important to make widths accurate when using paddings******/
}

.box{
  background: #d1d1d1;
  border: 1px solid black;
  width: 400px;

  /*top, right, bottom, left*/
  padding: 10px 20px 10px 20px; 

  /*top, bottom and right,left*/
  margin: 10px 20px; 

}

/* floating */
.container{
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: 50px auto;
}
.box-new{
  border: 1px solid grey;
  padding: 20px
}
.box-20{
  float: left;
  width: 69%;
}
.box-30{
  float: right;
  width: 29%;
}

.clr{
  clear: both;
}